<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215869158897-7nc9lkv6p6c4mb9gcso8lsbfka2o7it4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215869158897-7nc9lkv6p6c4mb9gcso8lsbfka2o7it4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>215869158897-scesb3ak913vrsabgov8v97g60mfuoqs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfLsD34HzCRxkd8AoN7HJfTDbvgzjHzyw</string>
	<key>GCM_SENDER_ID</key>
	<string>215869158897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calmexperts.locator</string>
	<key>PROJECT_ID</key>
	<string>locater-ce309</string>
	<key>STORAGE_BUCKET</key>
	<string>locater-ce309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215869158897:ios:5bf587a3a04eb5f1</string>
	<key>DATABASE_URL</key>
	<string>https://locater-ce309.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-6526476124822112~5395401955</string>
</dict>
</plist>